<section class="container">
    <form ng-submit="$ctrl.addSuggestion()" class="panel panel-default">
        <div class="panel-body">
            <h3>Submit Your Suggestion</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write a suggestion!" ng-model="$ctrl.title"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>

<section class="container">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="suggestion in $ctrl.suggestions | orderBy:'-upvotes'">
            <p><a href="#!/suggestion/{{$index}}">{{suggestion.title}}</a></p>
            <p><strong>Upvotes:</strong> {{suggestion.upvotes}} <span class="glyphicon glyphicon-plus-sign" ng-click="$ctrl.vote(suggestion, true)"></span> <span class="glyphicon glyphicon-minus-sign" ng-click="$ctrl.vote(suggestion, false)"></span></p>
            <p><strong>Date Added:</strong> {{suggestion.date | date:"MMM d 'at' HH:mm"}}</p>
        </li>
    </ul>
</section>